@import "_setting.scss";

$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;

  +.column {
    margin-left: $gap;
  }

  >* {
    background-color: $list-bg-color;
    padding: 0 8px;
  }

  header {
    cursor: pointer;
    padding-left: 15px;
    height: $column-header-height;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    border-radius: $column-border-radius $column-border-radius 0 0;
    -webkit-border-radius: $column-border-radius $column-border-radius 0 0;
    -moz-border-radius: $column-border-radius $column-border-radius 0 0;
    -ms-border-radius: $column-border-radius $column-border-radius 0 0;
    -o-border-radius: $column-border-radius $column-border-radius 0 0;
  }

  footer {
    color: #888;
    padding-left: 10px;
    height: 36px;
    line-height: $column-footer-height;
    border-radius: 0 0 $column-border-radius $column-border-radius;
    -webkit-border-radius: 0 0 $column-border-radius $column-border-radius;
    -moz-border-radius: 0 0 $column-border-radius $column-border-radius;
    -ms-border-radius: 0 0 $column-border-radius $column-border-radius;
    -o-border-radius: 0 0 $column-border-radius $column-border-radius;

    .footer-actions {
      margin-left: $gap;
      cursor: pointer;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;

      &:hover {
        color: $app-main-text-color;
      }
    }
  }

  .card-list {
    list-style-type: none;
    max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
    overflow-y: auto;
    margin: 0;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      &:vertical {
        width: 11px;
      }

      &-thumb {
        background-color: darken($list-bg-color, 15);
        border-right: 5px solid $list-bg-color;
      }
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(2deg);
      -webkit-transform: rotateZ(2deg);
      -moz-transform: rotateZ(2deg);
      -ms-transform: rotateZ(2deg);
      -o-transform: rotateZ(2deg);
      font-weight: 600;
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
      -moz-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -o-transform: rotateZ(0deg);
      font-weight: 600;
    }

    .cards-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

  }
}