@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
// VARIABLE==================================
$gap:10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;

$board-bg-color:#0093E9;
$board-bg-image:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$appbar-bg-color: #0080e9;
$list-bg-color:#ebecf0;
$common-elememnt-bg: rgba(255, 255, 255, .24);
//===========================================

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-dinhquanganh {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  background-image: $board-bg-image;

  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.app {
      background-color: $appbar-bg-color;
      font-size: 1.5rem;
    }

    &.board {
      background-color: transparent;
      font-size: 1.1rem;
    }
  }

  .board-columns {
    display: flex;
    overflow-x: auto;
    margin: 10px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;

      &:horizontal {
        height: 11px;
      }

      &-thumb {
        background-color: $common-elememnt-bg;
        border-right: 5px solid $list-bg-color;
        border-left: 5px solid $list-bg-color;

      }
    }

    .column {
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});

      +.column {
        margin-left: $gap;
      }

      >* {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
      }

      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: 36px;
        font-size: 16px;
        font-weight: 600;
        border-radius: $column-border-radius $column-border-radius 0 0;
        -webkit-border-radius: $column-border-radius $column-border-radius 0 0;
        -moz-border-radius: $column-border-radius $column-border-radius 0 0;
        -ms-border-radius: $column-border-radius $column-border-radius 0 0;
        -o-border-radius: $column-border-radius $column-border-radius 0 0;
      }

      footer {
        padding-left: 10px;
        height: 36px;
        line-height: $column-footer-height;
        border-radius: 0 0 $column-border-radius $column-border-radius;
        -webkit-border-radius: 0 0 $column-border-radius $column-border-radius;
        -moz-border-radius: 0 0 $column-border-radius $column-border-radius;
        -ms-border-radius: 0 0 $column-border-radius $column-border-radius;
        -o-border-radius: 0 0 $column-border-radius $column-border-radius;
      }

      ul {
        list-style-type: none;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;
        margin: 0;

        &::-webkit-scrollbar {
          -webkit-appearance: none;

          &:vertical {
            width: 11px;
          }

          &-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
          }
        }

        li {
          background: #fff;
          padding: $gap;
          border-radius: $card-border-radius;
          -webkit-border-radius: $card-border-radius;
          -moz-border-radius: $card-border-radius;
          -ms-border-radius: $card-border-radius;
          -o-border-radius: $card-border-radius;

          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

          &:not(:last-child) {
            margin-bottom: $gap;
          }

          img {
            display: block;
            margin: -$gap 0 $gap (-$gap);
            width: calc(100% + 2 * #{$gap});
            border-radius: $card-border-radius $card-border-radius 0 0;
            -webkit-border-radius: $card-border-radius $card-border-radius 0 0;
            -moz-border-radius: $card-border-radius $card-border-radius 0 0;
            -ms-border-radius: $card-border-radius $card-border-radius 0 0;
            -o-border-radius: $card-border-radius $card-border-radius 0 0;
          }
        }
      }
    }

  }
}